body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.navbar {
  background: #2563eb;
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.jobs-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.jobs-container h1 {
  text-align: center;
}

.jobs-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.job-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.job-card h3 {
  margin-top: 0;
}

.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.auth-card {
  background: white;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.auth-card h2 {
  text-align: center;
}

.auth-card input,
.auth-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}